		a:link {
			color: green;
		}
		
		a:visited {
			color: white;
		}
		
		a:hover {
			background-color: green;
			color: white;
		}
		
		a:active {
			color: purple;
		}
	
		body {
			background-color: #D1F2A5;
			
			background-image: url('fun.jpg');
			background-repeat: no-repeat;
			
			background-attachment: fixed;
			background-position: center;
			
			color:black;
			font-family: Indie Flower;
			font-size: 16pt;
		}
		
		div {
			
			background-color: #D1F2A5;
			border: 10px;
			border-radius: 50px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 500px;
			margin-bottom: 500px;
			
			padding: 30px;
			width: 600px;
		}
		
		
	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		background-color: #D1F2A5;
		overflow: hidden;
	}
	
	li { 
		float: left;
		width: 175px;
		color: black;
	}
	
	li a {
		display: block;
		color: black;
		text-align: center;
		padding: 14px, 16px;
		text-decoration: none;
	}
	
	p { 
	colour: black;
	font: indie flower;
	} 
	. current {
	background-color: #444;
	}
	

